# JWT Configuration
JWT_SECRET=tu-clave-secreta-super-segura-aqui
JWT_EXPIRES_IN=24h

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=lexis_db

# Brevo (Sendinblue) Email
BREVO_API_KEY=brevo-api-key

# Eureka (Service Discovery)
EUREKA_ENABLED=true
EUREKA_APP_NAME=lexis-login
EUREKA_INSTANCE_IP=127.0.0.1
EUREKA_INSTANCE_HOSTNAME=127.0.0.1
EUREKA_INSTANCE_PORT=3000
EUREKA_INSTANCE_ID=
EUREKA_PREFER_IP_ADDRESS=true
EUREKA_REGION=default
EUREKA_AVAILABILITY_ZONES=default
EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_SERVICE_PATH=/eureka/apps/
EUREKA_USE_SSL=false

JWT_EXTERNAL_SECRET=

# LAAS OAuth
LAAS_URL=
LAAS_USERNAME=
LAAS_PASSWORD=
LAAS_BASIC_AUTH=basic-auth-token